%clearfix
  zoom: 1
  &:after
    display: block
    visibility: hidden
    height: 0
    clear: both
    content: "."

%hide
  position: absolute
  left: -9999px
  top: -9999px

%center-block
  display: block
  margin: 0 auto

%vertical-align-parent
  &:before
    content: ''
    display: inline-block
    height: 100%
    vertical-align: middle
    margin-right: -0.25em

=placeholder
  &:-moz-placeholder
    @content
  &::-webkit-input-placeholder
    @content

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

=animation($content)
  -webkit-animation: $content
  -moz-animation: $content
  animation: $content

=webfont($name, $filebase, $weight, $style)
  +font-face("#{$name}", inline-font-files("#{$filebase}.woff", woff, "#{$filebase}.ttf", ttf, "#{$filebase}.svg", svg), "#{$filebase}.eot", $weight, $style)

=appearance($value)
  -moz-appearance: $value
  -o-appearance: $value
  -webkit-appearance: $value
  appearance: $value
